body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 10px;
    background-image: url(images/background.jpg);
    background-position: 0%;
    background-repeat: no-repeat;
}

/* WINDOW is the main class of in Elytra. Everything on the webpage should be inside a window. A webpage may have multiple windows*/

.window{
    display: grid;
    margin: 10px auto;    
}

.window-curation{
    width: 90%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*NAVBARS*/

.window-navbar-top{
    /*background: #081630;*/
    background: transparent;
    grid-template-columns: 1fr 3fr 1fr 1fr 4.5fr 1.5fr 2fr 2fr 2fr 1fr 1fr 1fr;
    
    margin: 0 auto;
    border-radius: 0px 0px 5px 5px;
    top: 0;

}

.navbar-brand-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.navbar-panel{
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 0 20px;
    text-align: center;
    font-weight: 700;
}

.navbar-option-text{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.navbar-input-text{
    border-radius: 5px;
    width: 100%
}

.navbar-input-icon{
    color: white;
    padding-left: 35px !important;
    padding-right: 5px !important;
    transform: translate(0px,2px);
}

/*PANELS*/

.panel{
    padding: 20px 20px;
    border-radius: 5px;
}

.panel-blog-article{
    background: #eae0a4ee;
    display: grid;
    grid-template-rows: 3fr 6fr 1fr 1fr;
}

.panel-title{
    font-family: 'Roboto', sans-serif !important; 
    margin: 0 0 26px 0;
    font-size: 30px;
    font-weight: 600;
    color: #8e2f2f;
}

.panel-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.panel-tags{
    color: #403b17;
}

.panel-tags b{
    color: brown;
}

/* SEARCH BARS*/

